{% extends "layout.tpl.html" %}
{% block content %}
<!-- 通知 -->
<div class="row">
<div class="col s12">
<div class="card cherry">
<div class="card-content"> <p class="chiffon-text"><i class="tiny material-icons">child_care</i> つうちつうちつうち</p></div>
</div>
</div>
</div>
<!-- 通知ここまで -->

<h4 class="berry-text">Tools</h4>

<div class="row">
<div class="col s12 m6 l4">

<!-- 精算ツール -->
<div class="card smoke linkbox">
<a href="#1"></a>
<div class="card-content">
<span class="card-title smoke-text-darken">精算ツール</span>
<p class="smoke-text-darken">月々の生活費から宅飲み代まで、この家で起きた色んなお支払いを割り勘します。</p>
</div>
</div>
</div>
<!-- 精算ツール -->

<!-- 精算ツール -->
<div class="col s12 m6 l4">
<div class="card smoke linkbox">
<a href="#2"></a>
<div class="card-content">
<span class="card-title smoke-text-darken">ともだちリスト</span>
<p class="smoke-text-darken">このポータルを使える人を設定できます。</p>
<p class="berry-text"><strong>この家の人だけ使えます！</strong></p>
</div>
</div>
</div>
<!-- 精算ツール -->

</div>

<h4 class="berry-text">What's New</h4>
<p class="smoke-text-darken">ここにほげほげ</p>
{% endblock %}